@charset "utf-8";
/* CSS Document */
.nav-menu {
	margin:0px;
	position:absolute;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	list-style:none;
	color:#fff;
	background:url(Startseite-Dateien/ico-MenuF.png) no-repeat;
	padding: 10px 0 0px 00px;
	font-weight:bold;
	width:95px;
	padding-left:10px;
}

.nav-menu:after {
	clear:both;
	visibility:collapse;
	display:inherit;
}

.nav-menu:hover {
	background:url(Startseite-Dateien/ico-MenuF-over.png) no-repeat;
	color:#000;

}

.nav-menu li {
	float:left;
	width: 95px;
	height:39px;
}

.nav-menu li ul {
	display:none;
}

.nav-menu li:hover ul {
	float:block;
	width:180px;
	display:block;
	line-height:30px;
	padding-left:0px;

}

#content-nav-menu{
	margin-left:-10px;
	background-color:#fbf7f6;
	border:thin solid #b80026;
	margin-top:13px;
	width:180px;
	display:block;
}

.nav-menu li ul:after {
	content: " ____________________";
	color:#b80026;
	padding-left:10px;
	padding-bottom:15px;
	line-height:5px;
	background:#fbf7f6;
}

.nav-menu li ul:last-child {
	line-height:25px;
}

.nav-menu li ul:last-child:after {
    content: "";
}

.nav-menu li ul:first-child {
}

.nav-menu li ul a{
	text-decoration:none;
	color:#000;
	padding-left:10px;

}
.nav-menu li ul a:hover{
	text-decoration:underline;
	color:#b80026;
}
