@charset "utf-8";
/* CSS Document */
.nav-menu {
	margin:0px;
	position:absolute;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	list-style:none;
	color:#fff;
	background:url(Startseite-Dateien/ico-MenuF.png) no-repeat;
	padding: 10px 0 0px 00px;
	font-weight:bold;
	width:95px;
}

.nav-menu:after {
	clear:both;
	visibility:collapse;
	display:inherit;
}

.nav-menu:hover {
	background:url(Startseite-Dateien/ico-MenuF-over.png) no-repeat;
	color:#000;
}

.nav-menu li {
	float:left;
	width: 95px;
	height:39px;
	padding-left:10px;
}

.nav-menu li ul {
	display:none;
}

.nav-menu li:hover ul {
	padding-left: 0;
	float:block;
	width:200px;
	display:block;

}

.nav-menu li ul:after {
    content: " ____________________ "; 
	color:#b80026;
	padding-bottom:15px;
}

.nav-menu li ul:last-child:after {
    content: "";
}

.nav-menu li ul:first-child {
	padding-top:15px;
}

.nav-menu li ul a{
	text-decoration:none;
	color:#000;
}
.nav-menu li ul a:hover{
	text-decoration:underline;
	color:#b80026;
}
